/* -------------------- */
/* --- BASE STYLES --- */
/* -------------------- */

html,
body {
  min-width: 100%;
  min-height: 100vh;
  width: 100%;
  font-size: 100%;
}

body {
  font-family: $ff-base;
  font-weight: $fw-base;
  font-size: $fs-base;
  line-height: $lh-base;
  color: $color-base;
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: clip;
}
/* bounding continer */
[class*="__container"] {
  max-width: $width-container;
  margin: 0 auto;
  padding: 0 15px;
}
@media (max-width: $tablet-width) {
  [class*="__container"] {
    max-width: 768px;
    padding: 0 34px;
  }
}
@media (max-width: $mobile-width) {
  [class*="__container"] {
    max-width: 320px;
    padding: 0 10px;
  }
}

.about {
  @include adaptive-value("font-size", 50, 16, 0);
}
